@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

#navbar {
    display: flex;
    top: 0;
    position: fixed;
    justify-content: flex-end;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 15px;
    background-color: rgba(46, 46, 46, 0.8);
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-left: 20px;
    margin-right: 5rem;
    font-size: large;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav a:hover {
    color: burlywood;
}

section {
    height: 107vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#welcome-section {
    position: center;
    background-color: rgb(211, 229, 243);
    text-align: center;
}

#welcome-section h1 {
    font-size: 4rem;
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#welcome-section h2 {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#welcome-section p {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

#projects {
    background-color: #dfdff7;
}

#projects h2 {
    font-size: 2.7rem;
    margin-top: 3.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#projects p {
    font-size: 1.3rem;
}

#projects a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

#projects a:hover {
    color: darkkhaki;
}

.project-tile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.project-image {
    height: calc(100% - 3.5rem);
    width: 100%;
    object-fit: cover;
}

.project-name1 {
    font-size: 1.5rem;
    padding-left: 7.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project-name2 {
    font-size: 1.5rem;
    padding-left: 7.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project-name3 {
    font-size: 1.5rem;
    padding-left: 6.35rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project-name4 {
    font-size: 1.5rem;
    padding-left: 5.45rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#contact {
    background-color: #F5F5F5;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    width: 100%;
    margin-top: 3rem;
}

.contact-image {
    width: 100%;
    max-width: 3.5rem;
    margin: 1.25rem 0;
}

#contact h2 {
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#contact p {
    font-size: 1.5rem;
}