html {
    box-sizing: border-box;
}

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}